<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Madlib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>


    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <h1>Fill in the blanks to create your custom Madlib!</h1>
    <form action="/madLibTwo" method="post">
     <label for="bodyPartML2">BODY PART</label>
     <input id="bodyPartML2" name="bodyPartML2" type="text"><br>

     <label for="activityML2">ACTIVITY</label>
     <input id="activityML2" name="activityML2" type="text"><br>

     <label for="foodML2">FOOD</label>
     <input id="foodML2" name="foodML2" type="text"><br>

     <label for="nounML2">NOUN</label>
     <input id="nounML2" name="nounML2" type="text"><br>

     <label for="placeML2">PLACE</label>
     <input id="placeML2" name="placeML2" type="text"><br>

     <label for="nameML2">NAME</label>
     <input id="nameML2" name="nameML2" type="text"><br>
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
