<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Madlib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to create your custom Madlib!</h1>
    <form action="/madLibOne" method="post">
     <label for="adjectiveOne">ADJECTIVE</label>
     <input id="adjectiveOne" name="adjectiveOne" type="text">

     <label for="adjectiveTwo">ADJECTIVE</label>
     <input id="adjectiveTwo" name="adjectiveTwo" type="text">

     <label for="nounOne">NOUN</label>
     <input id="nounOne" name="nounOne" type="text">

     <label for="nounTwo">NOUN</label>
     <input id="nounTwo" name="nounTwo" type="text">

     <label for="pluralNounOne">PLURAL NOUN</label>
     <input id="pluralNounOne" name="pluralNounOne" type="text">

     <label for="gameOne">GAME</label>
     <input id="gameOne" name="gameOne" type="text">

     <label for="pluralNounTwo">PLURAL NOUN</label>
     <input id="pluralNounTwo" name="pluralNounTwo" type="text">

     <label for="verbIngOne">VERB ENDING IN "ING"</label>
     <input id="verbIngOne" name="verbIngOne" type="text">

     <label for="verbIngTwo">VERB ENDING IN "ING"</label>
     <input id="verbIngTwo" name="verbIngTwo" type="text">

     <label for="pluralNounThree">PLURAL NOUN</label>
     <input id="pluralNounThree" name="pluralNounThree" type="text">

     <label for="verbIngThree">VERB ENDING IN "ING"</label>
     <input id="verbIngThree" name="verbIngThree" type="text">

     <label for="nounThree">NOUN</label>
     <input id="nounThree" name="nounThree" type="text">

     <label for="plantOne">PLANT</label>
     <input id="plantOne" name="plantOne" type="text">

     <label for="bodyPart">BODY PART</label>
     <input id="bodyPart" name="bodyPart" type="text">

     <label for="placeOne">PLACE</label>
     <input id="placeOne" name="placeOne" type="text">

     <label for="verbIngFour">VERB ENDING IN "ING"</label>
     <input id="verbIngFour" name="verbIngFour" type="text">

     <label for="adjectiveThree">ADJECTIVE</label>
     <input id="adjectiveThree" name="adjectiveThree" type="text">

     <label for="numberOne">NUMBER</label>
     <input id="numberOne" name="numberOne" type="text">

     <label for="pluralNounFour">PLURAL NOUN</label>
     <input id="pluralNounFour" name="pluralNounFour" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
